/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* General Styling */
html {
  font-size: 12pt;
  font-family: 'Helvetica', Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 5px;
}

header {
  transition: all 0.2s;
  display: grid;
  grid-template-columns: max-content max-content auto;
  grid-template-areas:
    "name about"
  ;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

article {
  transition: all 0.2s;
}

#page_1 {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-areas:
    "skills work"
  ;
  break-inside: avoid;
}

#page_2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "education"
    "opensource"
  ;
  break-inside: avoid;
}

section {
  transition: all 0.2s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

@media print {
  @page {
    padding: 0;
    margin: 0cm;
    size: A4 portrait;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .container {
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow:
      0 0 10px rgba(0, 0, 0, 0.1),
      0 0 40px rgba(0, 0, 0, 0.1),
      0 0 80px rgba(0, 0, 0, 0.1);
  }

  header {
    background-color: white;
  }

  section {
    background-color: white;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    border-radius: 3px;
  }
}

a {
  text-decoration: none;
  color: blue;
  transition: all 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

a:visited {
  color: blue;
}

@media print {
  a {}
}

a:hover {
  border-bottom: 3px solid rgba(0, 0, 255, 0.5);
}

.description {
  color: rgba(0, 0, 0, 0.7);

  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0.2rem;

    li {
      font-size: 1rem;
    }
  }
}
