/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* General Styling */
html {
  font-size: 12pt;
  font-family: 'Helvetica', Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.1rem;
}

h2 {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 0.3rem;
}

h3 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
}

#page_1 {

  article {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas:
      "skills work"
    ;
  }

  break-inside: avoid;
  overflow: hidden;
}

#page_2 {
  article {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "education"
      "opensource"
    ;
    grid-template-rows: 1fr auto;
  }

  break-inside: avoid;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


@media print {
  @page {
    size: A4;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 11pt;
  }

  #lycee {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .container {
    max-width: 297mm;
    margin: 20px auto;
  }

  #page_1,
  #page_2 {
    border-radius: 3px;
    box-shadow:
      0 0 10px rgba(0, 0, 0, 0.1),
      0 0 40px rgba(0, 0, 0, 0.1),
      0 0 80px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  header {
    background-color: white;
  }

  section {
    background-color: white;
  }
}

@media screen and (max-width: 650px) {

  html {
    font-size: 10pt;
  }

  #page_1 {
    article {
      grid-template-columns: auto;
      grid-template-areas:
        "work"
        "skills"
      ;
    }
  }

  #page_2 {
    article {
      grid-template-columns: auto;
      grid-template-areas:
        "education"
        "opensource"
      ;
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    border-radius: 3px;
  }
}

a {
  text-decoration: none;
  color: blue;
  transition: all 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

a:visited {
  color: blue;
}

a:hover {
  border-bottom: 3px solid rgba(0, 0, 255, 0.5);
}

.description {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;

  ul {
    list-style-type: disc;
    padding-left: 1rem;
    margin: 0.2rem;

    li {
      font-size: 0.8rem;
    }
  }
}

#skills {
  font-size: 0.85em;
  grid-area: skills;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }

  h3 {
    margin: 0;
    padding-top: 0.5rem;
    display: block;
    font-size: 1.2em;
  }

  h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 0.2em;
  }

  h3:not(:first-child) {
    margin-top: 1.1rem;
  }
}


#opensource {
  grid-area: opensource;
  font-size: 0.9rem;

  li {
    list-style-type: none;
    line-height: 1.1rem;
    padding-bottom: 0.5rem;
  }

  .columns {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
  }

  .column {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem;
  }

  h2 {
    display: inline-block;
    margin-right: 10px;
  }
}
