/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  --side-bg-color: #f0f0fa;
  --side-text-color: #111;
}

/* General Styling */
html {
  font-size: 12pt;
  font-family: 'Helvetica', Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 5px;
}

header {
  transition: all 0.2s;
  display: grid;
  grid-template-columns: max-content max-content auto;
  grid-template-areas:
    "name about photo"
  ;
  background-color: white;
}

article {
  transition: all 0.2s;
  background-color: white;
  display: grid;
  grid-template-columns: 20% auto auto;
  grid-template-areas:
    "skills work work"
    "education education community"
    "opensource opensource community"
  ;
}

section {
  transition: all 0.2s;
  padding: 20px;
}

@media print {
  @page {
    padding: 0;
    margin: 0cm;
    size: A4 portrait;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .container {
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow:
      0 0 10px rgba(0, 0, 0, 0.1),
      0 0 40px rgba(0, 0, 0, 0.1),
      0 0 80px rgba(0, 0, 0, 0.1);
  }

}

@media screen and (max-width: 1200px) {
  .container {
    border-radius: 3px;
  }
}

a {
  text-decoration: none;
  color: blue;
  transition: all 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

a:visited {
  color: blue;
}

@media print {
  a {}
}

a:hover {
  border-bottom: 3px solid rgba(0, 0, 255, 0.5);
}

.description {
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.5);

  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0.2rem;

    li {
      font-size: 1rem;
    }
  }
}

.page-break {
  page-break-after: always;
}
